* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  margin-bottom: 10px;
}
button {
  height: 40px;
  width: 100px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.inp {
  height: 40px;
  width: 100px;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.game {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 700px;
  width: 700px;
  border: 2px solid black;
  border-radius: 5px;
}
.box { 
  margin: 0 auto;
  height: 600px;
  width: 600px;
  border: 1px solid black;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
  grid-gap: 0px;
}
.box-inner {
  height: 60px;
  width: 60px;
  border: 1px solid black; 
}
.timer {
  font-size: 36px;
}
.cub-blue {
  background-color: blue;
}
